<div class="jumbotron">
  <header>
    <h1>Welcome To Angular Workshop</h1>
  </header>
 
  <h2><%= link_to 'Data Binding', welcome_data_binding_path %><h2>
  <h2><%= link_to 'Module Practice', welcome_module_practice_path %><h2>
  <h2><%= link_to 'Services Intro', welcome_services_intro_path %><h2>
  <h2><%= link_to 'Exercise 1', welcome_exercise_1_path %></h2>
  <h2><%= link_to 'Exercise 2', welcome_exercise_2_path %></h2>
  <h2><%= link_to 'Exercise 3', welcome_exercise_3_path %></h2>
  <h2><%= link_to 'Fork Me', 'https://github.com/sowjumn/post_overflow' %></h2>
  <h2><%= link_to 'Slides', 'http://www.slideshare.net/NagaSowjanyaMudunuri/angular-wwc' %></h2>
</div>